h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    background-color: rgb(92, 92, 92);
    margin: 0%;
    overflow: hidden;
    font-size: large;

}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: rgb(24, 24, 24);
    color: rgb(75, 74, 74);
}

.navbar li{
    float: left;
}
h2{
    text-align: center;
    color: #192841;
    text-decoration: none;
    font-size: 5em;
    -webkit-text-stroke: 2px #015eff;
    font-family: 'Poppins' sans-serif;
}
p{
    text-align: center;
    color: darkred;
    font-size: 2em;
    font-family:  sans-serif;
    -webkit-text-stroke: 2px #ff0101;
}
h1{
    text-align: center;
    color: #192841;
    text-decoration: none;
    font-size: 5em;
    -webkit-text-stroke: 2px #015eff;
    font-family: 'Poppins' sans-serif;
}
img{
    width: 500pxpx;
    height: 500px;
}

